.listM{
	padding:0px;
	margin:0px;
	list-style-type: none;
	margin-top: 5px;
}

.listM-inline{	
	>li{
		display: inline;
	}	
}

.listM-no-bullet{
	>li{
		list-style-type: none;
	}
}

.listPrivacy{
	>li{
		color: lighten($base-color-black, 40%);
		margin: 4px;
		margin-top: 15px;
		padding-left: 10px;
		font-weight: bold;
		font-size:20px;
		text-align: justify;
		text-transform: uppercase;
		>ol{
			font-weight: normal;
			font-size:14px;
			text-transform: lowercase;
			>li{
				list-style-type: none;
				margin-left: -55px;
				margin-top: 10px;
				padding-left: 15px;
				line-height: 150%;
				text-align: justify;
				&:first-letter{
					text-transform: uppercase;
				}
			}
		}
	}
}