.single-post-view{
	padding:30px 0px;	
}

.card-single{
	>.item-view-title{
		padding:10px;
		>.post-title{
			font-family: 'MontserratRegular', sans-serif !important;
			line-height: 1.2;
		}
		.posted-info{
			list-style: outside none none;
			margin:5px;
			padding:0px;
			> li{
				display: inline;
				margin: 5px;
				>a{
					color: inherit;
				}
				.fa{
					color: $color-theme;
				}
			}						
		}
	}
	>.posted-images{
		>img{
			width:100%;
			height: auto;
		}
		>.posted-images-list{
			list-style: outside none none;
			padding:0px;
			margin-top:4px;
			> li{
				display: inline;
				margin:0px;
				padding:0px;
				>img{
					width: 24.65%;
					// height: 200px;
					cursor: pointer;
					margin:0px;
				}								
			}
		}
	}
	>.posted-specifiction{
		padding:15px;		
	}
	>.posted-disc{
		padding: 15px;
		>.post-desc{
			text-align: justify;
			line-height:1.6;
		}
	}
	>.posted-important-points{
		>.post-important-list{
			list-style: none;
			>li{
				list-style: none;
				margin-bottom: 5px;
			}
		}
	}
	>.posted-footer{
		padding:15px;
		background-color: darken($base-color-white,10%);
		border-radius: 0px 0px 8px 8px;
		text-align:center;
	}
	.post-share{
		padding:15px;
		.post-share-list{
			list-style: none;
			margin:0px;
			padding:0px;
			>li{
				display: inline;
				margin:4px;
				padding:5px;	
				>a{
					color:lighten($base-color-black,30%);
					padding:5px;
					&.facebook:hover{
						color:$color-facebook;
					}
					&.google:hover{
						color:$color-googleplus;
					}
					&.twitter:hover{
						color:$color-twitter;
					}
				}							
			}
		}
	}
}

.post-right-panel{
	.post-price{
		.currency-price{
			background: $color-theme none repeat scroll 0 0;
			border-radius: 4px;
			box-shadow: 0 1px 2px darken($base-color-white,15%);;
			color: $base-color-white;
			font-size: 25px;
			margin-bottom: 27px;
			padding: 10px;
			.fa{
				margin-right: 10px !important;
				//border:2px solid $base-color-white;
				//border-radius:100%;
				//padding:10px 15px;
			}
		}
	}
	.post-user{
		border: 1px solid $default-border-color;
		border-radius:8px;
		margin-bottom: 20px;
		padding:25px;
		>.user-body{
			.user-dp{
				border: 4px solid $base-color-white;
				border-radius: 100px;
				box-shadow: 0 1px 2px darken($base-color-white,15%); //#cccccc
				height: 120px;
				margin: 0 5px 0 0;
				width: 120px;
			}
			.user-status {
				border: 2px solid $base-color-white;
				border-radius: 22px;
				display: inline-block;
				height: 20px;
				margin: 4px 0 0 -40px;
				position: absolute;
				width: 20px;
				box-shadow: 0 1px 2px darken($base-color-white,15%);
			}
			.user-online {
				background: $color-theme;
			}
			.user-offline {
				background: darken($base-color-white,15%);
			}
			.seller-name{
				font-size:25px !important;
			}
			.seller-detail{
				list-style: none;
				margin:0px;
				padding:8px;
				>li{
					list-style: none;
					margin-bottom: 5px;
				}
			}
		}
		>.user-footer{
			.user-connect{
				margin:20px;
				padding:0px;
				list-style:none;
				>li{
					display:inline;
					margin:5px;
					height:15px;
					width:15px;
					background-color: $color-theme;
					padding:10px 15px;
					border-radius:5px;
					transition: background-color 0.1s ease;						
					>a{												
						color: $base-color-white;
						font-size:15px;						
					}
					&:hover,&:focus{
						background-color:darken($color-theme,5%);
					}
				}

			}
		}
	}
	.similar-ads{
		border:1px solid $default-border-color;
		border-radius:8px;
		padding:20px;
		margin-bottom: 20px;	
		.similar-ads-header{
			border-bottom: 1px solid $default-border-color;			
		}	
		.suggested-ads{			
			.similar-ad{				
				margin: 0 0 23px;
				.similar-ad-left{
					img {
						border-radius: 50px;
						float: left;
						height: 65px;
						margin: 4px 9px 0 0;
						width: 65px;
					}
				}
				.similar-ad-right > h4 {
					font-weight: 500;
					margin: 0;
					color: lighten($base-color-black,30%);
					font-size: 14px;
					line-height: 22px;
				}
				.similar-ad-right > p {
					color: $color-theme;
					font-weight: bold;
					margin: 0;
				}
			}
		}
	}
	.post-tips{
		border:1px solid $default-border-color;
		border-radius:8px;
		padding:20px;
		margin-bottom: 20px;
		.post-tips-header{
			border-bottom: 1px solid $default-border-color;			
		}
		.tips-list{
			margin:5px;
			padding:10px;			
			list-style:none;
			>li{
				list-style: none;
				margin-bottom:5px;
			}
		}
	}
}