.section-default {
	padding: 15px 0px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.section-xx {
		padding: 30px 0px;
	}
	.section-heading {
		div {
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center;
			h3 {
				text-align: center;
				padding-top: 5px !important;
				padding-bottom: 5px !important;
				margin: 20px;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.section-xs {
		padding: 30px 0px;
	}
	.section-heading {
		div {
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center;
			h3 {
				text-align: center;
				padding-top: 5px !important;
				padding-bottom: 5px !important;
				margin: 20px;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.section-sm {
		padding: 30px 0px;
	}
	.section-heading {
		div {
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center;
			h3 {
				text-align: center;
				padding-top: 5px !important;
				padding-bottom: 5px !important;
				margin: 20px;
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.section-md {
		padding: 30px 0px;
	}
	.section-heading {
		div {
			padding-bottom: 0px;
			padding-top: 0px;
			text-align: left;
			h3 {
				text-align: left;
				padding-top: 0px !important;
				padding-bottom: 0px !important;
				margin: 0px;
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.section-lg {
		padding: 30px 0px;
	}
	.section-main-search {
		padding: 65px 0px;
	}
	.section-heading {
		div {
			padding-bottom: 0px;
			padding-top: 0px;
			text-align: left;
			h3 {
				text-align: left;
				padding-top: 0px !important;
				padding-bottom: 0px !important;
				margin: 0px;
			}
		}
	}
}

.search-box {
	/*background: linear-gradient(rgba($color-theme, 0.90), rgba($color-theme, 0.90)),
	url(../../images/bg1.jpg) no-repeat scroll center center / cover;*/
	background: darken($color-light-gray,5%);
}

.section-heading {
	padding-bottom: 10px;
}

.review {
	/*background: linear-gradient(rgba($color-theme, 0.80), rgba($color-theme, 0.80)),
	url(../../images/review.jpg) no-repeat scroll center center / cover;*/
	h3 {
		color: lighten($base-color-black, 30%);
	}
}



.breadcumb_area {
	/*background: linear-gradient(rgba($base-color-white, 0.75), rgba($base-color-white, 0.75)),
	url(../../images/breadcumb.jpg);
	border-bottom: 1px solid lighten($default-border-color, 15%);*/
	.page_title > h3 {
		color: $color-theme;
		font-size: 44px;
		font-weight: normal;
		font-family: 'LatoLight', sans-serif !important;
		letter-spacing: 2px;
		margin: 8px 13px;
		padding: 0;
		text-transform: uppercase;
	}
	// .page_pagination ul {
	// 	margin: 0;
	// 	padding: 0;
	// }
	/* .page_pagination ul > li > a, .page_pagination ul > li {
		color: #1f1f1f;
		display: inline-block;
		letter-spacing: 1px;
		text-transform: capitalize;
	}
	.page_pagination ul > li > a, .page_pagination ul > li {
		color: #1f1f1f;
		display: inline-block;
		letter-spacing: 1px;
		text-transform: capitalize;
	} */
}

.section-pad-border {
	padding: 25px;
	border: 1px solid $default-border-color;
	border-radius: 8px;
}

.theme-breadcrumb {
	/*background: linear-gradient(rgba($color-theme, 0.90), rgba($color-theme, 0.90)),
	url(../../images/breadcumb.jpg);
	border-bottom: 1px solid lighten($default-border-color, 15%);*/
	padding: 5px;
	ul {
		padding: 0px;
		margin-bottom: 5px;
	}
	li {
		color: darken($base_color-white, 85%) !important;
		&:before{
			color: darken($base_color-white, 95%) !important;
		}
		>a{
			color: darken($base_color-white, 85%) !important;
		}
	}
}

.section-login {
	/*background:
	linear-gradient(rgba($color-theme, 0.70), rgba($color-theme, 0.70)),
	url(../../images/review.jpg);
	border-bottom: 1px solid lighten($default-border-color,15%);
	padding:5px;
	min-height: 100vh;*/
}

.section-404 {
	background: $color-theme;
	color: $base-color-white;
	min-height: 100vh;
	//display: table;
	//vertical-align: middle;
	width: 100%;
	.content-404 {
		margin-top: 15px;
		padding: 10px;
		text-align: center;
		.error-title {
			font-size: 200px;
		}
		.error-subtitle-1 {
			font-size: 35px;
		}
		.error-subtitle-2 {
			font-size: 18px;
		}
		.btn {
			margin-top: 20px !important;
		}
	}
	.content-404-footer {
		position: fixed;
		bottom: 5px;
		width: 100%;
		text-align: center;
		a {
			color: $base-color-white;
			&:hover {
				color: #000;
			}
		}
	}
}

.uc {
	background: linear-gradient(rgba($base-color-black, 0.80), rgba($base-color-black, 0.80)),
	url(../../images/bg2.jpg) 100% no-repeat;;
	//background-size: cover;
	min-height: 100vh;
	color: $base-color-white;
	.content {
		text-align: center;
		vertical-align: middle;
		line-height: 90px;
	}
}